*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(89, 94, 99);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.header{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    font-size: 30px;
    color: #fff;
}
.input-container{
    margin: 30px 30px 10px 30px;
}
label{
    color:rgb(241, 245, 250);
    margin: 0 0 5px 15px;
}
.input-feild{
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
}
input{
    outline: none;
    padding: 0 20px 0 20px;
     border: 2px solid rgba(255, 255, 255, 0.015);
     background: rgba(255, 255, 255, 0.35);
     height: 38px;
     box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.085),
                 0 2px 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    font-size: 16px;
    color: #fff; 
}
input:focus{
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: transparent;
    box-shadow: none;
    border-radius: 30px;
}
.submit{
    background: transparent;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    box-shadow: none;
    transition: .3s ease-in-out;
}
.submit:hover{
    color: rgb(106, 87, 168);
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.16);
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.085),
                0 2px 30px 0 rgba(0, 0, 0, 0.2);;
}
span{
    display: flex;
    justify-content: right;
}
span a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}
.login a{
    text-decoration: none;
    color:white ;
}