*{
    margin: 0;
    font-family: Arial, sans-serif;
}
.logo{
    font-size: 30px;
    color: white;
    font-style: italic;
    font-family: Tahoma;
    margin-left: 20px;
    cursor:pointer;
}
.logo span{
    color: red;
}
.navvbarr{
    background-color: #1d75a8;
    position: fixed;
    transition: background-color 0.3s ease;
}
.navvbarr.scrolled {
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.2);
    background-color: rgb(7, 77, 117)
  }
  ul.navvbarr {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #053e5f00 ;
    display: flex;
    width: 100%;
    height: 70px;
}
.nav-options{
    display: flex;
    margin-left: 100px;
    align-items: center;
}
li.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.navitem a:hover {
    background-color: #156da0;
    transition: all .42s ease;
}
.nav-icons{
   margin-left: 300px;
   display: flex;
   align-items: center;
}
.nav-icons a{
    color: white;
    text-decoration: none;
    padding-left: 30px;
    font-size: 25px;
    transition: all .42s ease;
}
.nav-icons a:hover{
    color: aliceblue;
    transform: scale(1.2);
}
.hero-part{
    background-image: linear-gradient(rgba(21, 21, 21, 0.8),rgba(161,161,161,0.1)), url("download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}
.hero-part h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
    padding-top: 200px;
    padding-left: 50px;
}
.hero-part h5{
    color: white;
    font-size: 25px;
    font-weight: lighter;
    padding-top: 30px;
    padding-left: 50px;
}
.hero-part a{
    text-decoration: none;
    margin-left: 50px;
    border: 2px solid white;
    padding: 10px 40px;
}
.hero-btn1{
   background-color: white;
   color: #14618F;
   font-weight: 600;
}
.hero-btn2{
    color: white;
    font-weight: 600;
    background-color: #14618F;
}
.hero-btn1:hover{
    background-color: #14618F;
    color: white;
}
.hero-btn2:hover{
    background-color: white;
    color: #14618F;
    
}

.icon ul {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    align-items: center;
  }
  
  .icon ul li {
    display: flex; 
    align-items: center; 
    margin-right: 10px; 
    justify-content: center;
    padding-left: 100px;
  }
  
  
  .icon ul li i {
    margin-right: 5px; 
  }
  
  .icon{
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
   display: flex;
   margin: 50px 0px;
   font-weight: 600;
   font-size: 30px;
}

  .sec2im {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .sec2img{
    height: 400px;
    width: 350px;
    color: white;
  }

  .hws1{
    background-image: linear-gradient(rgba(21, 21, 21, 0.6),rgba(21, 21, 21,0.6)), url("bg1");
    background-size: 350px 400px;
    background-repeat: no-repeat;
    
    
  }

  .hws2{
    background-image: linear-gradient(rgba(21, 21, 21, 0.6),rgba(21, 21, 21,0.6)), url("bg2");
    background-size: 350px 400px;
    background-repeat: no-repeat;
  }

  .hws3{
    background-image: linear-gradient(rgba(21, 21, 21, 0.6),rgba(21, 21, 21,0.6)), url("bg3");
    background-size: 350px 450px;
    background-repeat: no-repeat;
  }

  .sec2img h1{
    margin-top: 200px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .sec2img p{
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 600;
  }

  .sec2img button{
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 20px;
    color: black;
    background-color: white;
    border: white;
  }

  .sec2img button:hover{
    color: white;
    background-color: black;
    border: black;
  }


.boxheading{
    text-align: center;
    width: 40%px;
    margin: 10px auto
}
.boxheading h1{
    margin-top: 100px;
    font-size: 35px;
}
.borderbtm{
    border-bottom: 2px solid #0350b4 ;
    width: 15%;
    margin: 10px auto;
    margin-bottom: 20px;
}

.product {
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 50px;
    display: inline-block;
    align-items: center;
  }

  .product:hover{
    background-color: rgba(255, 255, 255, 0.788);
    box-shadow: 5px 5px 10px gray;
  }

  .product img {
    width: 250px;
    height: 160px;
  }

  .product h3 {
    margin: 0;
    padding: 2px;
  }

  .product p {
    margin-top: 15px;
    padding: 2px;
  }
  .productname{
    margin-top: 15px;
    font-size: 25px;
    padding: 2px;
  }
.ratinstar{
    color: #0350b4;
    padding: 2px;
}
.btns{
    background-color: #ffffff98;
    height: 30px;
    width: 120px;
    border: 2px solid rgb(0, 47, 255);
    border-radius: 5px;
    color: rgb(0, 47, 255);
    font-size: 15px;
    font-weight: 700;
    padding: 2px;
}
.btns:hover{
    font-weight: 100;
    color: rgb(255, 255, 255);
    background-color: #0350b4;
    transition:all .42s ease;
    cursor: pointer;
}
.section4{
    background-color: rgb(81, 131, 205);
    display: flex;
    height: auto;
    background-image: url("sec4.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 800px;
    width: 100%;
    max-width: 100%;
}

.section4 div{
    padding: 70px 10%;
    color: white
}

.section4 div h5{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.section4 div h1{
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin-top: 30px;
}

.section4 div p{
    margin-top: 20px;
    font-weight: 500;
}

.section4 div h3{
    margin-top: 30px;
    text-transform: capitalize;
}

.section4 div button{
    margin-top: 30px;
    text-transform: capitalize;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid white;
}

.section4 div button:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: all .42s ease;
    cursor: pointer;
}
.Services{
    background: whitesmoke;
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
}
.service-all{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
}
.cardd{
    text-align: center;
    width: 20%;
}
.cardd-body h1{
    font-size: 20px;
    font-weight:500;
}
.cardd-img-top{
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
}


footer{
    margin-top: 0px;
}
.foot-panel1{
    background-color:rgb(255, 255, 255);
    text-align: left;
    color: black;
    border-bottom: 0.5px solid black;
    height: 200px;
}
.h{
    flex-flow: column wrap;
}
h2{
    margin-left: 90px;
}
.h h3{
    font-size: 30px;
}
.h h4{
    font-size: 20px;
}
.foot-panel2 input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid gray;
    margin-top: 30px;
}
.foot-panel2 input::placeholder{
    padding-left: 5px;
}
.foot-panel2 button{
    width: 150px;
    height: 35px;
    color: white;
    background-color: rgb(24, 118, 185);
    border-radius: 5px;
    margin-top: 5px;
}
.foot-panel2{
    background-color: white;
    color: black;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
   
}
.foot-panel2 a{
    display: block;
    font-size: 15px;
    color: black;
    padding-top: 10px;
}
.foot-panel2 p{
    font-weight: 700;
    font-size: 20px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.foot-panel3{
    color: black;
    background-color:white ;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.foot-panel4{
    border-top: 0.5px solid black;
    background-color: white;
    color: black;
    height: 80px;
    font-size: 0.75rem;
    text-align: left;
    display: flex;
}
.pages{
        padding-top: 25px;
}
.copyright{
        padding-top: 5px;
        text-align:  left;
        font-size: 20px;
        opacity: 0.7;
        margin-top: 10px;
}

.icons123{
    font-size: 30px;
    margin-top: 5px;
    padding: 15px;
}

.iicons{
    display: flex;
    margin-left: 400px;
}

.foot-panel2 h4{
    font-size: 30px;
}
.copyright{
    margin-left: 90px;
}
.scrolled{
    background: #034e8b;
}

